<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Users Table</title>
</head>
<body>
    <h1>Users</h1>
    <div class="message">
        <table class="index">
            <thead>
                <tr>
                    <td>ID</td>                  
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Created at</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for user in userList %}
                    <tr>              
                        <td>{{user.id}}</td>     
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        <td>
                            <a href='{{user.id}}'/>Show</a>
                            <a href='{{user.id}}/edit'/>Edit 
                            <a href='{{user.id}}/destroy'/>Delete 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/new">Add new user</a>
    </div>
</body>
</html>
